{% extends 'main.html' %}
{% load static %}
{% block content %}


<div class="container">
    <div class="welcome-text">
        Welcome to the To-Do App!
    </div>

    <!-- Description Section -->
    <div class="description">
        <p>
            This app helps you stay organized. Add your tasks, set reminders, and keep track of what you need to do each day.
        </p>
        <p>
            Use the "Add Todo" feature to save important tasks, goals, or ideas. You can view all your tasks whenever you need.
            <a href="{% url 'signup' %}"></a>Sign-up or <a href="{% url 'loginpage' %}">Login</a> to start managing your tasks and get more done each day!
        </p>
    </div>
</div>

{% endblock %}
