{% extends 'main.html' %}
{% load static %}
{% block content %}


<div class="container">
    <div class="welcome-text">
        Welcome to the Contact App!
    </div>

    <!-- Description Section -->
    <div class="description">
        <p>
            Stay connected and organized by managing all your contacts in one place. With the Contact App, you can easily add new contacts, update existing ones, and reach out to people directly from your phone or email.
        </p>
        <p>
            Use the "Add Contact" feature to store phone numbers, emails, and more. If you add an email address, you can easily send emails to your contacts right from the app. If you mark a number as a WhatsApp contact, you can click and instantly start a chat through WhatsApp.
        </p>

        <p>   
            Sign up or log in to start adding your contacts today, and enjoy the convenience of staying connected with just a few clicks!

        </p>
        
    </div>
</div>

{% endblock %}
